@import 'https://fonts.googleapis.com/css?family=Open+Sans';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {clear: both;}

a {text-decoration: none; }
a:visited {text-decoration: none;}

.left {float:left;}
.right {float:right;}
.text-right {text-align: right;}

html {height: 100%;}

body {
    background-image: url(../img/grey_wash_wall.png);
    font-family: 'Open Sans', sans-serif, Arial, "Times New Roman";
    font-size: 87.5%;
    line-height: 1.5;
    height: 100%;
}

.container {
    max-width: 90%;
    position: relative;
    left: 0;
    margin: 0 auto;
    background-color: white;
    -webkit-transition:  margin-left 0.4s;
    -moz-transition:  margin-left 0.4s;
    -o-transition:  margin-left 0.4s;
    transition:  margin-left 0.4s;
}

.open-sidebar-margin-right {
    margin-right: 350px;
}
.open-sidebar-margin-left {
    margin-left: 300px;
}

.circle {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin: 0 5px 0 0;
}

.circle-green {background-color: green;}
.circle-red {background-color: red;}
.circle-orange {background-color: orange;}


/* Header */

.nav {
    list-style: none;
    background-color: /*#011C26*/#35404F;
}

.nav li {float: left;}
.nav li a {
    display: block;
    padding: 15px 15px;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    transition: background-color .5s;
}

.nav li a:hover {
    background-color: #4285F4;
}

.sidebars-toggles {list-style: none; width: 100%;}
.sidebars-toggles a{
    display: inline-block;
    float: left;
    width: 50%;
    height: 30px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    background-color: black;

}
/* Sidebars */

.sidebar {
    -webkit-transition:  width 0.4s;
    -moz-transition:  width 0.4s;
    -o-transition:  width 0.4s;
    transition:  width 0.4s;
}

.left-sidebar {
    width: 0;
    top: 0;
    position: fixed;
    background-color: #35404F;
    height: 100%;
    left: -300px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.controls {
    list-style: none;
}

.controls li a {
    display: block;
    color: #fff;
    padding: 3px 5px;
    font-weight: bold;
    transition: background-color .2s, color .2s;
}

.controls li a:hover {
    background-color: #4285F4;
    color: white;
}

.right-sidebar {
    width: 0;
    top: 0;
    position: fixed;
    background-color: #35404F;
    height: 100%;
    left: -2000px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 5px;
}

.messages {
    list-style: none;
}

.messages li {
    margin: 7px 0;
    padding: 3px;
    border-radius: 4px;
    background-color: #F0F4F8;
}

.messages li .sender {
    font-style: italic;
}

.messages li .message {}

.messages .owner {background-color: #C7EDFC;}

.sender .date {text-decoration: underline;}

.open-sidebar-left {
    width: 300px;
    left: 0;
}

.open-sidebar-right {
    width: 350px;
    right: 0;
    left: auto;
}

/* Content */

.content {
    padding: 10px;
    position: relative;
    max-height: 100%;
}

/* Footer */